nav(class='navbar', role='navigation', ng-cloak='')
            div(class='container-fluid')
                div(class='navbar-header')
                    button(type='button', class='navbar-toggle collapsed', data-toggle='collapse',
                            data-target='#navbar-collapse-block', aria-expanded='false')
                        span(class='sr-only') Toggle navigation
                        span(class='icon-bar')
                        span(class='icon-bar')
                        span(class='icon-bar')
                    a(class='navbar-brand', href='#/', style={'text-transform': 'uppercase'})
                      span.circle
                      span.hidden-xs Employee Management
                div(class='collapse navbar-collapse', id='navbar-collapse-block')
                    ul(class='nav navbar-nav navbar-right')
                        li.visible-xs
                            a(ui-sref='side-tab.employee', ui-sref-active='active', translate='EMPLOYEES_TEXT')
                        li.visible-xs
                            a(ui-sref='side-tab.dashboard', ui-sref-active='active', translate='DASHBOARD_TEXT')
