div(ng-show='item.dateOfBirth')
    label(translate='DATE_OF_BIRTH_ONLY_TEXT')
    span.seperator-text(ng-bind='item.dateOfBirth | date: "dd-MMM-yyyy"')
div(ng-show='item.email')
    label(translate='EMAIL_TEXT')
    span.seperator-text(ng-bind='item.email')
div(ng-show='item.phone')
    label(translate='PHONE_TEXT')
    span.seperator-text(ng-bind='item.phone')
div(ng-show='item.dateOfJoining')
    label(translate='DATE_OF_JOINING_ONLY_TEXT')
    span.seperator-text(ng-bind='item.dateOfJoining | date: "dd-MMM-yyyy"')
div(ng-show='item.department')
    label(translate='DEPARTMENT_TEXT')
    span.seperator-text(ng-bind='item.department')