div.row.margin-top-5em
    div.col-sm-8.col-sm-offset-2.border-box
        div.row
            div.col-xs-4.pull-right
                md-button.md-raised.md-primary.dark.pull-right.margin-zero(id="add-Employee", ng-click='EmployeeCtrl.addEmployee()', aria-label='Add Employee')
                   i.flaticon-add182
                   span(translate='ADD_EMPLOYEE_TEXT')
        hr.row
        div.row
            list-items(primary-template='views/employee-primary-template.html', secondary-template='views/employee-secondary-template.html', items='EmployeeCtrl.employees')