.box-information {
  .box{
    border: 1px solid;
    padding: 0 1em;
    flex: 1;
    margin-bottom: 1em;
  }

  .box-flex{
    display: inline-flex;
    width: 100%;

    >.box:first-child{
      margin-right: 1em;
    }
  }

  .box-title{
    h4{
      text-transform: uppercase;
      font-size: 1em;
      margin: 1em 0 0.5em 0;
    }
    hr{
      border-bottom: 0.4em solid $border-separator;
      margin: 0 -1em 0.5em -1em;
    }
  }
  .box-body{
    font-style: italic;
    label {
      text-transform: uppercase;
      font-style: normal;
      border-bottom: 1px solid $form-control-border-color;
      display: block;
    }
    >div{
      margin: 0 0 1em 2px;
    }
    ul{
      padding-left: 1em;
    }
  }
}