//placeholder style
::-webkit-input-placeholder {
  color: $disabled-text-color;
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  color: $disabled-text-color;
  font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $disabled-text-color;
  font-style: italic;
}

:-ms-input-placeholder {
  color: $disabled-text-color;
  font-style: italic;
}

// form control
label {
  font-weight: normal;
  font-size: 0.85em;
}

.form-control {
  border-radius: 0;
  height: 38px;
  box-shadow: none;

  &:focus{
    border-color: $form-control-border-color;
    box-shadow: none;
  }
}

// input group
.input-group {
  .input-group-addon {
    border-radius: 0;
    background-color: transparent;
  }
}

// btn-group
.btn-group .btn{
  padding: 9px 12px;
  border-radius: 0;
  &:focus{
    outline: none;
  }
}

.seperator-text {
  &:before{
    content: ' - ';
    display: inline;
  }
}