/* Override Angular Material */
.md-shadow-bottom-z-1, .md-button.md-raised:not([disabled]),
.md-button.md-fab, .md-button.md-raised.md-focused:not([disabled]),
.md-button.md-fab.md-focused:not([disabled]) {
  box-shadow: 0 0 0 0 $material-box-shadow-color;
}

.md-shadow-bottom-z-2, .md-button.md-raised:active:not([disabled]), .md-button.md-fab:active:not([disabled]) {
  box-shadow: 0 0 0 0 $material-box-shadow-color;
}

.md-button.md-default-theme.md-raised{
  color: $material-text-color;
  background-color: $material-button-default-color;
  &[disabled]{
    opacity: 0.4;
  }
}

.md-button.md-default-theme.md-raised.md-primary,
.md-button.md-raised.md-primary {
  color: $material-button-default-color;
  background-color: $material-button-primary-color;
  &[disabled]{
    opacity: 0.4;
    span{
      color: $material-text-disabled-color;
    }
  }
  &:not([disabled]):hover, &:not([disabled]).md-focused {
    background-color: $material-button-primary-hover-color;
  }
}

.md-button.md-default-theme.md-raised.md-primary.wizard,
.md-button.md-raised.md-primary.dark {
  color: $material-button-default-color;
  background-color: $material-button-primary-dark-color;
  &[disabled]{
    opacity: 0.4;
  }
  &:not([disabled]):hover, &:not([disabled]).md-focused {
    background-color: $material-button-primary-dark-hover-color;
  }
}

.md-button.md-raised.md-secondary{
  color: $material-button-default-color;
  background-color: $material-button-secondary-color;
  &[disabled]{
    opacity: 0.4;
  }
  &:not([disabled]):hover, &:not([disabled]).md-focused {
    background-color: $material-button-secondary-hover-color;
  }
}

.md-button.md-default-theme.md-warn.md-raised{
  border: none;
  &:hover:not([disabled]){
    border: none !important;
  }
  &[disabled] {
    background-color: $material-button-secondary-color;
    color: $material-text-color;
    border: 1px solid $material-button-disabled-color;
    opacity: 0.4;
  }
}

.md-button.md-raised.other-button {
  color: $material-button-other-text-color;
  background-color: $material-button-other-color;
  &[disabled] {
    opacity: 0.4;
  }
  &:not([disabled]):hover, &:not([disabled]).md-focused {
    background-color: $material-button-other-hover-color;
  }
}

.md-button {
  font-size: 10px;
  border: 1px solid $material-button-border-color;
  border-radius: 0 !important;
  min-height: 25px;
  padding: 0 15px;
  margin: 5px;

  &.md-fab{
    border-radius: 50% !important;
  }

  span {
    margin-left: 1em;
  }

  i {
    margin-left:0 !important;
  }
}

a.md-button.md-default-theme.md-warn.md-raised, a.md-button.md-default-theme.md-warn.md-fab,
.md-button.md-default-theme.md-warn.md-raised, .md-button.md-default-theme.md-warn.md-fab {
  color: $material-button-default-color;
}
a.md-button.md-default-theme.md-warn.md-raised:hover:not([disabled]),
a.md-button.md-default-theme.md-warn.md-fab:hover:not([disabled]),
.md-button.md-default-theme.md-warn.md-raised:hover:not([disabled]),
.md-button.md-default-theme.md-warn.md-fab:hover:not([disabled]) {
  background-color: $material-button-warning-color;
  border: 1px solid $material-button-warning-color;
}

a.md-button.md-default-theme.md-primary.md-raised, a.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-default-theme.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab {
  border: 0 none;
}
.md-button.md-default-theme.md-warn.md-fab,
.md-button.md-default-theme.md-warn.md-raised,
a.md-button.md-default-theme.md-warn.md-fab, a.md-button.md-default-theme.md-warn.md-raised {
  background-color: $material-button-warning-color;
}
.md-button-small {
  width:100px;
  margin: 0.08em;
  line-height: 0;
  min-height: 2em;
  margin-right: 0;
}

.md-button.md-fab {
  background-clip: inherit;
  border: none;
  &.md-mini{
    line-height: 46px;
  }
}


.md-button.md-fab.md-mini {
  line-height: 46px;
}

.md-button.md-fab {
  background-clip: inherit;
}

.md-button.md-fab {
  border: none;
}

a .md-button.md-fab.md-primary.icon-button{
  background-color: transparent;
  color: $icon-button-color;
  margin: 6px;

  &:not([disabled]):hover{
    background-color: transparent;
    color:$icon-button-color;
  }

  &:disabled{
    color:$icon-button-disabled-color;
  }

  i{
    font-size: 3em;
    left: 14px;
    position: absolute;
    top: 0;
  }
}
.md-dialog-container{
  z-index: 1050;
  background-color: hsla(40, 15%, 25%, 0.3);

  md-dialog.md-transition-in{
    box-shadow: none;
    border-radius: 0;
  }

  button.md-primary.md-button.md-default-theme{
    color: black;
    &:first-child{
      color: black;
      position: relative;
      &::before{
        content: '\e014';
        font-family: 'Glyphicons Halflings';
        position: absolute;
        left: 25%;
        top: -1px;
      }
    }
    &:last-child{
      color: white;
      background-color: $material-button-primary-color;
      span{
        margin-left: -1em;
      }
      &::before{
        content: '\e013';
        font-family: 'Glyphicons Halflings';
        position: absolute;
        right: 20%;
        top: -1px;
      }
    }

  }

  md-dialog-actions{
    justify-content: space-between;
    padding-right: 20px;
  }
}